<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">

<head>
	<meta charset="UTF-8">
	<title>Grocery Shopping</title>
	<script src="/libs/angular/angular.js"></script>
	<!-- <script src="/libs/angular-ui-router/release/angular-ui-router.js"></script> -->
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
	<script src="/app.js"></script>
	

</head>

<body ng-controller="BrandCtrl as brandCtrl", "ProductNameCtrl as productNameCtrl">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<h1>Shopping Search</h1>
			</div>
		</div>

		<div class="container">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<!-- initiate HTML-based GET using /register route -->
				<form method="GET" action="/edit">

					<div class="input-group">
				<ul>
						<input id="brand" class="form-control" type="text" name="brand" placeholder="Brand" ng-model="brandCtrl.brand">

						<span class="input-group-btn">
							<button class="btn btn-success" ng-click="register()"  type="submit">Search</button>
						</span>							
						
						<br>
						<input id="productName" class="form-control" type="text" name="productName" placeholder="Product Name" ng-model="productNameCtrl.name">
						 

						<span class="input-group-btn">
							<button class="btn btn-success" ng-click="register()"  type="submit" >Search	</button>								
						</span>
						<br>
					</ul>


					</div>
				</form>

			</div>
		</div>

	</div>
</body>

</html>