<div class="card" style="width: 20rem;">
    <div class="card-body" ng-controller = "BrandCtrl as brandCtrl">
        <h4 class="card-title">Add Item</h4>
        <h6 class="card-subtitle mb-2 text-muted">Add Item</h6>
        <p class="card-text">"DESCRIPTION OF ITEM "</p>
        <a href="#" class="card-link">ADD ITEM</a>
        <a href="#" class="card-link">DELETE ITEM</a>
    </div>
</div>