<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <form name="resultPage" novalidate ng-submit="brandCtrl.search()">
            <ul>
            <div class="form-group">

                <label for="Brand">Brand</label>

                <div class="input-group">

                    <input id="Brand" class="form-control" type="text" name="brand" ng-model="brandCtrl.result.brand">{{result.brand}}

                    <br>
                    <label for="Brand">Product Name</label>

                    <div class="input-group">

                        <input id="Product name" class="form-control" type="text" name="Product name" ng-model="nameCtrl.result.name">{{result.name}}

                        <br>

                        <span class="input-group-btn">

						<button class="btn btn-success" type="submit"
								ng-disabled="queryForm.$invalid">
							Edit
						</button>
					</span>

                    </div>
                </div>
            </ul>
        </form>
        </div>
    </div>